In [2]:
import json
import pandas as pd
import matplotlib.pyplot as plot

In [3]:
#initialise dataset
f1 = "Prime_Pantry.json"
df = pd.io.json.json_normalize([json.loads(line) for line in open(f1)])

## Drop Prime_pantry column

In [18]:
#select key columns
df1 = df.loc[:, ['overall','reviewTime','asin']]

#change reviewTime to timestamp
df1['ReviewTime'] = pd.to_datetime(df1.reviewTime)
df1.drop('reviewTime',axis = 1, inplace = True)

df1.head()

   overall        asin ReviewTime
0      5.0  B0000DIWNZ 2014-12-14
1      4.0  B0000DIWNZ 2014-11-20
2      4.0  B0000DIWNZ 2014-10-11
3      3.0  B0000DIWNZ 2014-09-01
4      4.0  B0000DIWNZ 2014-08-10

## Filter reviews by Time-series in first 6 months

        overall        asin ReviewTime
72          4.0  B0000GH6UG 2004-01-10
121323      4.0  B00ICZZCEE 2004-05-13
78849       5.0  B004AH51VW 2004-06-11
159152      5.0  B00NMPN1JC 2004-08-13
167367      5.0  B00NO0CTK2 2004-12-28
...         ...         ...        ...
446448      5.0  B015FCJZXA 2018-06-30
460801      5.0  B01BLIQ6AW 2018-07-07
409947      5.0  B00SUC4CRW 2018-07-09
457321      5.0  B019TUC6P8 2018-07-10
459426      5.0  B0005YM4IC 2018-08-06

[10814 rows x 3 columns]

In [17]:

# Preperation: Ascendingly sort the timestamp with each asin. main sort,sub sort.主次分类

# first step: slice the dataframe by the asin index

# second step: in each slice, do below:
#          if: 1. drop the entire product reviews which duration shorter than 6 months
#          elif: 2. if keep the reviews within 6 months, 
#                   else drop the reviews exceed 6 months.
#          print Dataframe